server:
  port: 80
  servlet:
    context-path: /matchboxv3
hapi:
  fhir:
    implementationguides:
      fhir_r4_core:
        name: hl7.fhir.r4.core
        version: 4.0.1
        url: classpath:/hl7.fhir.r4.core.tgz
      fhir_terminology:
        name: hl7.terminology.r4
        version: 6.3.0
        url: classpath:/hl7.terminology.r4#6.3.0.tgz
      fhir_extensions:
        name: hl7.fhir.uv.extensions.r4
        version: 5.2.0
        url: classpath:/hl7.fhir.uv.extensions.r4#5.2.0.tgz
      chelm:
        name: ch.fhir.ig.ch-elm
        version: 1.13.0
        url: file:/ch.fhir.ig.ch-elm.tgz
matchbox:
  fhir:
    context:
      igsPreloaded: ch.fhir.ig.ch-elm#1.13.0
      #txServer: n/a
      txServer: http://localhost:${server.port}/matchboxv3/tx
      txUseEcosystem: false
      httpReadOnly: true
      suppressWarnInfo:
        hl7.fhir.r4.core#4.0.1:
          - "Constraint failed: dom-6:"
          - "regex:Entry '(.+)' isn't reachable by traversing forwards from the Composition"
        ch.fhir.ig.ch-elm:
          - "regex:Binding for path (.+) has no source, so can't be checked"
          - "regex:None of the codings provided are in the value set 'Observation Interpretation Codes'(.*)"
          - "regex:This element does not match any known slice defined in the profile http://hl7.eu/fhir/laboratory/StructureDefinition/Patient-eu-lab(.+)"    
          - "regex:This element does not match any known slice defined in the profile http://hl7.eu/fhir/laboratory/StructureDefinition/HumanName-eu(.+)"
          - "regex:This element does not match any known slice defined in the profile http://fhir.ch/ig/ch-core/StructureDefinition/ch-core-humanname(.+)"
          - "regex:Does not match slice '(.+)' (.+)"
          - "regex:(.*)Unable to find a match for profile(.+)"
          - "regex:(.+): Specified profile type was '(.+)' in profile '(.+)', but found type '(.+)"